@font-face {
  font-family: 'graphk';
  font-weight: normal;
  src: url('../fonts/GraphikRegular.otf');
}
@font-face {
  font-family: 'graphk';
  font-weight: 500;
  src: url('../fonts/GraphikMedium.otf');
}
@font-face {
  font-family: 'graphk';
  font-weight: 600;
  src: url('../fonts/GraphikSemibold.otf');
}
@font-face {
  font-family: 'gt';
  font-weight: 600;
  src: url('../fonts/GTWalsheimPro-Bold.ttf');
}